# Introduction to Python

## Course: CSE474

This assignment is to guide you to solve basic programming problems in Python. Since this is the first assignment, few problems are partially solved to help you. Go through them, try to understand and question each statment of the following questions and codes. If you can understand the problems and the solutions, solving more difficult problems would not seem so difficult. 

## Your tasks:

- Solve these problems. 
- Upload these to your Github Repository (Naming Convention of The Repo: CSE474_YourID)
- Send the Repository Link

### Write the Python code of the following problems:

### Task 1

Write Python code of a program that reads two numbers from the user, and prints their sum, product, and difference. Moreover, your program compare between the numbers and should then print “First is greater” if the first number is greater, “Second is greater” if the second number is greater, and “The numbers are equal” otherwise.


*hint: Subtract the second number from the first one for difference*

In [ ]:
num1=int(input("please enter a number:"))
num2=int(input("please enter a number:"))
print("Sum=",num1+num2)
print("Difference=",num2-num1)


var1=int(input("please enter a number:"))
var2=int(input("please enter a number:"))
if var1>var2:
  print("First is greater")
elif var2>var1:
    print("Second is greater")
else:
      print("The numbers are equal")

### Task 2

Write Python code of a program that reads the radius of a circle and prints its circumference and area. Moreover, it will print “The number is even” or “The number is odd”, depending on whether the input number is even or odd. 

*hint 1: use the modulus (%) operator for even or odd*


*hint 2: import math and then use math.pi for getting the value of pi. 
For details read from https://docs.python.org/3/library/math.html*

In [ ]:
import math
rad=float (input("please enter a radius:"))
area=math.pi*(rad**2)
circumference=2*math.pi*rad
print("Area is",area)
print("Circumference is",circumference)

var1=int(input("please enter a number:"))
if var1%2==0:
  print("The number is even")
else:
  print("The number is odd")

please enter a radius:6
Area is 113.09733552923255
Circumference is 37.69911184307752
please enter a number:7
The number is odd

### Task 3

Write Python code of a program that reads a student’s mark for a single subject, and prints out the corresponding grade for that mark. The mark ranges and corresponding grades are shown in the table below.

*hint: This problem can be solved in two ways: top-down (starts from A) and bottom-up (starts from F)*


| Marks | Grage|
| --- | --- | 
|90 or above| A |
|  |  | 
|80-89| B |
|  |  | 
|70-79| C |
|  |  | 
|60-69| D |
|  |  | 
|50-59| E |
|  |  | 
|Below 50| F |

In [ ]:
stu_mark=int(input("Enter student mark for one subject:"))
if stu_mark<=100 and stu_mark>=90:
  print("A")
elif stu_mark>=80 and stu_mark<=89:
  print("B") 
elif stu_mark>=70 and stu_mark<=79:
  print("C")  
elif stu_mark>=60 and stu_mark<=69:
  print("D") 
elif stu_mark>=50 and stu_mark<=59:
  print("E") 
elif stu_mark<=50 and stu_mark>=0:
  print("F") 
else:
  print("wrong input")

Enter student mark for one subject:80
B

### Task 4

Write Python code of a program to compute and display a person’s weekly salary as determined by the following conditions:
If the hours worked are less than or equal to 40, the person receives Tk200.00 per hour, else the person receives Tk8000.00 plus Tk300.00 for each hour worked over 40 hours.
The program should request the hours worked as input and should display the salary as output.

**example1:**\
Input: 100\
Output: 26000

**example2:**\
Input: 30\
Output: 6000

In [ ]:
working_hours=int(input("Enter work_hours"))
if working_hours<=40:
  salary=working_hours*200
  print(salary)
elif working_hours>40:
    hours=working_hours-40
    salary=8000+(hours*300)
    print(salary)

Enter work_hours6
1200

### Task 5
Suppose the following expressions are used to calculate the values of L for different values of S:

$L =  3000-125S^2$ 
if     $S<100$

$ c =  \frac{12000}{4+S^2/14900}$
if     $S\geq100$

Write a Python code of a program that reads a value of S and then calculates the value of L.\

For example:\
If S=3, L= 1875.\
If S=120, L= 2416.2162162162163 


*hints: You can import math and use math function for making squares math.pow(number, power)   Or you can simply write S**2.*

In [ ]:
S_value=int(input("Enter a number:"))
if S_value>=100:
  L_value=(1200/(4+S_value**2)/14900)
  print(L_value)
else:
  L_value=300-125*(S_value**2)
  print(L_value)

Enter a number:7
-5825

### Task 6

Write python program, which prints the following sequences of values in loops:

a)	24, 18, 12, 6, 0, -6\
b)	-10, -5, 0, 5, 10, 15, 20\
c)	18, 27, 36, 45, 54, 63\
d)	18,-27, 36,-45,54,-63

**Hints(1):** Use a while loop for solving these problems.

**Hints(2):** We are already familiar with the print() function. But when we use it to print any value it automatically adds an additional newline after each print statement.

For example:\
print(1)\
print(2)

Output:\
1\
2

=====================================================================

To solve this problem, in Python3, we need to add an extra argument (end = " ") in the print function which tells the program to skip printing the additional newline.

For example:\
print(1, end =" ")\
print(2)

Output:(prints the next output right to the previous one)\
12

=====================================================================

In Task-6(a), the loop counter should be initialized at 24 and the loop should terminate when the loop counter reaches -6. The difference between the first two values is 24-18=6. So the loop counter value is getting decremented by 6 in every iteration.

For your understanding task 6(a) code is done for you.

In [ ]:
# a) 24, 18, 12, 6, 0, -6

# initialize loop counter
counter = 24

# loop structure
while counter >= -6:
    
    #inside loop body
    if counter == -6:
        print(counter, end = "") 
    else:
        print(counter, end = ", ") 
     
    counter = counter - 6 #updating loop counter
    #inside loop body
    
#outside loop body

24, 18, 12, 6, 0, -6

In [ ]:
    i = -10
    print("\nb) ", end=" ")
    while i <= 20:
        print(i, end=" ")
        i += 5

# b)-10, -5, 0, 5, 10, 15, 20

b)  -10 -5 0 5 10 15 20

In [ ]:
i = 18
print("\nc) ", end=" ")
while i <= 63:
        print(i, end=" ")
        i += 9    

# c)18, 27, 36, 45, 54, 63

c)  18 27 36 45 54 63

**Hints for 6(d):** 

print(5 * (-1)) gives output -5\
print("-" + str(5)) gives output -5

In [ ]:
# d)18,-27, 36,-45,54,-63

### Task 9
Write a Python code to displays all the **odd numbers** between 10 and 50. (Using Loop)

Output: 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
start=int(input("Enter the start range:"))
end=int(input("Enter the end range:"))
for num in range(start,end +1):
 if num % 2!=0:
  print(num,end =" ")

Enter the start range:5
Enter the end range:50
5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

### Task 7
Write a Python code that will calculate the **value of y if the expression** of y is as follows (n is the input):  

$y = 1^2 - 2^2 +3^2 -4^2 +5^2 .........+ n^2 $

**Example:** 

If the user enters 10, y= -55 \
If the user enters 20, y= -210

In [ ]:
a=int(input("enter value of a:"))
sum=0
for i in range(1,a+1):
    if (i%2!=0):
       sum=sum+(i*i)
    else:
       sum=sum-(i*i)
print(sum)

enter value of a:3
6

### Task 8
Write a Python program that reads 10 numbers from the user. After reading each number, print all the numbers that have been entered so far. 

**Example:**\
After the user enters 3, prints “So far in the list: [3]”\
After the user enters 5, prints “So far in the list: [3, 5]”\
After the user enters 34, prints “So far in the list: [3, 5, 34]”

In [ ]:
list = []
n = 10
for i in range(10):
    list.append(int(input()))
    print("Numbers in the list:",list)

### Task 9
Write a function called **foo_moo** that takes a number as an argument and **returns** the following statements according the below mention conditions. Then, finally prints the statement in the function call. 

* 	If the number is divisible by 2, it should return "Foo".
*   If the number is divisible by 3, it should return "Moo". 
*   If the number is divisible by both 2 and 3, it should return "FooMoo".
*   Otherwise, it returns "Boo".

**Example1:** \
**Function Call:**\
foo_moo(5)\
**Output:**\
Boo

=================


**Example2:** \
**Function Call:**\
foo_moo(4)\
**Output:**\
Foo

=================


**Example3:** \
**Function Call:**\
foo_moo(6)\
**Output:**\
FooMoo

In [ ]:
def foo_moo(x):
    if x%2==0:
        return "Foo"
    elif x%3==0:
        return "Moo"
    elif (x%2==0) and (x%3==0):
        return "FooMoo"
    return "Boo"
print(foo_moo(5))

Boo

### Task 10
Write a function called **calculate_tax** that takes 3 arguments: your age, salary, and current job designation.


Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and calculate the tax as the following conditions:
*  **NO TAX IF YOU ARE LESS THAN 18 YEARS OLD.**
*  **NO TAX IF YOU ARE THE PRESIDENT OF THE COMPANY** 
*  No tax if you get paid less than 10,000
*  5% tax if you get paid between 10K and 20K
*  10% tax if you get paid more than 20K


Finally return this tax value. Then print the returned value in the function call.

**Example1:** \
**Input:**\
16\
20000\
Student\
**Function Call:**\
calculate_tax(16, 20000, 'Student')\
**Output:**\
0

===================================

**Example2:** \
**Input:**\
20\
18000\
assistant manager\
**Function Call:**\
calculate_tax(20, 18000, 'assistant manager')\
**Output:**\
900.0


===================================

**Example3:** \
**Input:**\
20\
22000\
assistant manager\
**Function Call:**\
calculate_tax(20, 22000, 'Assistant manager')\
**Output:**\
2200.0

===================================


**Example4:** \
**Input:**\
20\
122000\
president\
**Function Call:**\
calculate_tax(20, 122000, 'president')\
**Output:**\
0
 

**Hints:**\
Here the job designation is a string, so it can be written in both uppercase and lower cases. So, you need to check the value ignoring the case.

In [ ]:
def calculate_tax(age, salary, job):
    if age<18 or job.lower()=="president" or salary<10000:
        return 0
    if salary>20000:
        return salary*0.1
    if salary>10000 and salary<20000:
        return salary*0.05

age = int(input())

salary = int(input())

job = input()

print(calculate_tax(age, salary, job))

### Task 11
Write a function which will take 1 argument, number of days.

Your first task is to take the number of days as user input and pass the value to the function.
 
Your second task is to implement the function and calculate the total number of years, number of months, and the remaining number of days as output. No need to return any value, print inside the function. 

**Note:** Assume, each year to be 365 days and month to be 30 days.

**Hint:** Divide and mod the main input to get the desired output.

**Input:**\
4330\
**Function Call:**\
function_name(4330)\
**Output:**\
11 years, 10 months and 15 days

================================

**Input:**\
2250\
**Function Call:**\
function_name(2250)\
**Output:**\
6 years, 2 months and 0 days

In [ ]:
day= int(input("Enter days:"))

year=day//365
day%=365
month=day//30
day%=30
print("Years:",year,"Days:",day,"Months:",month)

### Task 12
Write a function called **make_square** that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should **return a dictionary** with the numbers as keys and its squares as values.

**Example1:** \
**Function Call:**\
make_square((1,3))\
**Output:**\
{1: 1, 2: 4, 3: 9}

====================================

**Example2:** \
**Function Call:**\
make_square((5,9))\
**Output:**\
{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}



**Hints:** \
You need to declare a dictionary to store the result. You should use the range function to run the “for loop”.

In [ ]:
def make_square(numbers):
    j = {}
    for num in range(numbers[0], numbers[1] + 1):
        j[num] = num ** 2
    return j

print(make_square((1,3)))

{1: 1, 2: 4, 3: 9}

### Task 13
Write a function called **remove_odd** that takes a list of numbers that have both even and odd numbers mixed. \
Your function should remove all the odd numbers and **return a compact list** which only contains the even numbers. 

**Example1:** \
**Function Call:**\
remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])\
**Output:**\
[44, 66, 88, 10]

====================================

**Example2:** \
**Function Call:**\
remove_odd ([11,2,3,4,5,2,0,5,3])\
**Output:**\
[2, 4, 2, 0]

In [ ]:
def remove_odd(list):
    list = [x for x in list if x%2==0]
    print (list)    

remove_odd([11,2,3,4,5,2,0,5,3])

[2, 4, 2, 0]

### Task 24
Write a python function that will perform the basic calculation (addition, subtraction, multiplication and division) based on 3 arguments. They are:
- Operator ('+', '-', '/', '*')
- First Operand (any number)
- Second Operand (any number)

Your first task is to take these arguments as user input and pass the values to the function parameters.

Your second task is to write a function and performs the calculation based on the given operator. Then, finally return the result in the function call and print the result.

**Input:**\
"+"\
10\
20\
**Function Call:**\
function_name("+", 10, 20)\
**Output:**\
30

================================

**Input:**\
"*"\
5.5\
2.5\
**Function Call:**\
function_name("*", 5.5, 2.5)\
**Output:**\
13.75

In [ ]:
def computeOperation(op,number1,number2):
    comp_res=0

    if op=='+':
        comp_res=number1+number2
    elif op=='-':
        comp_res=number1-number2
    elif op=='*':
        comp_res=number1*number2
    elif op=='/':
        comp_res=number1/number2
    else:
        print('Invalid operator')
    return comp_res

def main():
    inp_operator = input('Enter the operator (+,-,*,/):')
    inp_num1 = float(input('Enter the first value:'))
    inp_num2 = float(input('Enter the second value:'))

    
    res = computeOperation(inp_operator,inp_num1,inp_num2)
    if(res!=0):
      
        print("Result: "+str(res))

### Task 15
You have been hired as an app developer for the company karon_tumi_bekar. The company plans to make an app for a grocery store where the user can order groceries and see the total amount to be paid in the cart section. 

To build this feature, you have to write a function that takes 2 arguments. They are:
- order_items (must be a list)
- location (default value should be set to "Dhanmondi")

Your first task is to take a list of items from the user. Pass the list into the function parameter along with the optional location (Use default argument technique). (Also, no need to take location as input, pass this any value you want.) 

Your second task is to implement the function. In the function, create a dictionary for the items shown in the table. Calculate the total price of the items passed as a list to the function. Additionally, add a delivery fee of 30 taka if the location is Dhanmondi. Otherwise, add a delivery fee of 70 taka. Finally, return the value and print it.

| Item | Price(Tk) |
| --- | --- |
| Rice | 105 |
| Potato | 20 |
| Chicken | 250 |
| Beef | 510 |
| Oil | 85 |

**Hint:** The keys are the items and values are the corresponding price. Iterate the items in the list and check if the items in the list are available in the dictionary keys or not. If it is available, add the price.

**Example:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")

total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)\
total = 720 + 70 = 790 (Finally, add the delivery fee based on the location.)

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")\
**Output:**\
790

==============================================

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"])\
**Output:**\
750

In [ ]:
def function_name(order_items, location="Dhanmondi"):   
    prices={"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85};  
    
    total=0;   
    
    for item in order_items:    
        if item in prices.keys():   
            total+=prices[item];        
            
    
    if(location=="Dhanmondi"):  
        total+=30;                  
    else:                       
        total+=70;                  
    
    return total;

#prints values
print(function_name(["Rice","Beef","Rice"],"Mohakhali"));
print(function_name(["Rice","Beef","Rice"]));

790
750